<% provide(:title, "Posts | ")%>
<p id="notice"><%= notice %></p>
<p id="error"><%= alert %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>
<br>
<% @posts.each do |post| %>
  <p id="post-text"><%= post.content %></p>
  <%= link_to "#{post.user.name}", post.user %><br>
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) if current_user == post.user %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user == post.user || current_user.admin == true %>
<% end %>
